{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>All Articles</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Published?</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title|capitalize  }}</td>
                <td>
                    <span class="fa fa-{{ article.isPublished ? 'check' : 'times' }}"></span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/admin/article/new" class="btn btn-secondary" role="button">Create new article!</a>

</div>
{% endblock %}

