{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Create a new Post! 🚀</h1>

        {{ form_start(createPostForm) }}
        {{ form_widget(createPostForm) }}
        <button type="submit" class="btn btn-secondary">Create!</button>
        {{ form_end(createPostForm) }}
    </div>
{% endblock %}
